# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.idea/
.melos_tool/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.dart_tool/
ios/.generated/

# Android
android/.gradle/
android/captures/
android/.idea/
android/local.properties
android/.dart_tool/
android/build/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/.symlinks/
macos/build/
macos/Runner.xcworkspace/
macos/.dart_tool/

# Web
web/.dart_tool/
web/build/

# Windows (на випадок, якщо клонуватимеш проект на Win)
windows/build/
windows/.dart_tool/

# Linux (так само)
linux/build/
linux/.dart_tool/

# VS Code
.vscode/
.history/

# System
.DS_Store
Icon?
.idea/
*.iml
*.log
*.tmp

# Coverage
coverage/

# Packages
pubspec.lock
